/* Empty. Add your own CSS if you like */

.view_login {
	background-color: #87CEFA;
	color: #fff;
	text-align: center;
}

.view_login h1 {
	color: #fff;
	font-weight: 800;
	font-size: 30px;
	margin-top: 5%;
}

.view_login .list {
	width: 80%:
	margin: auto;

}